/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

summary {
    color: #337ab7;
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

div {
    margin-bottom: 20px;
}

form p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

form label {
    display: inline-block;
    width: 150px;
}

form input[type="text"],
form input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}


button {
    color: #fff;
    background-color: #337ab7;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #23527c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}
