.bar
    .input-block
        input.barI(type="text" placeholder="")
        p.search-icon 🔍

.navbar
    .logo ConnectoSphere
    .menu
        a(href="apple.html") О компании Apple
        a(href="table.html") Сравнение моделей
        a(href="index.html") На главную